.about {
  font-family: 'Arial', sans-serif;
  color: #1f2937;
  line-height: 1.7;
}


.about-hero {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.5rem;
}


.about-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 30px;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #d3d6dc;
}

.about-section p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: justify;
  color: white;
}

.about-img {
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}


.about-hero, .about-section, .about-img {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
