.contact-page {
  min-height: 100vh;
  padding: 60px 20px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-align: center;

  
  background: 
    linear-gradient(rgba(5, 30, 120, 0.5), rgba(40, 1, 125, 0.5)), 
    url('https://media.istockphoto.com/id/2057433260/photo/3d-rendering-of-white-brick-wall-half-painted-yellow-with-title-fitness-and-25kg-weight-plate.jpg?s=2048x2048&w=is&k=20&c=gpXIE4yE6c2R4x_UHLRHuodxbm06QQcwXPjK2b0-2bw=') no-repeat center center/cover;
}

.contact-page h1 {
  font-size: 48px;
  margin-bottom: 15px;
  animation: fadeIn 1s ease;
}

.contact-page p {
  font-size: 18px;
  margin-bottom: 40px;
  animation: fadeIn 1s ease 0.3s;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  animation: fadeIn 1s ease 0.6s;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ddd;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ffeb3b;
  box-shadow: 0 0 8px rgba(255,235,59,0.5);
}

.contact-form button {
  padding: 12px 30px;
  background-color: #ffeb3b;
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.9;
}

/* Fade-in animatsiya */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 600px) {
  .contact-page h1 {
    font-size: 36px;
  }

  .contact-form button {
    width: 100%;
  }
}
